// contact / contact ---------------------- //

.contact__table {
    &.commontable p {
        margin-left: 8px;
    }

    th:nth-child(8) {
        p {
            text-overflow: ellipsis;
            max-width: 80px;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    td:nth-child(4) {
        p {
            text-overflow: ellipsis;
            max-width: 108px;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    td:nth-child(6) {
        p {
            text-align: center;
            margin: 0;
        }
    }

    td:nth-child(7) {
        p {
            text-overflow: ellipsis;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    td:nth-child(10) {
        text-align: center;

        p {
            margin: 0;
        }
    }
}

.contact-filter.form__filter {
    form {
        justify-content: flex-start;
    }
}

.contact__forminput {
    margin-right: 8px;

    input {
        width: 100%;
    }
}

.contact__forminput:nth-child(1) {
    input {
        width: 110px;
    }
}

.contact__forminput:nth-child(2) {
    width: 206px;

    .dropdown-response {
        width: 250px;
    }
}

.contact__forminput:nth-child(3) {
    width: 176px;

    .dropdown-response {
        width: 189px;
    }
}

.contact__forminput:nth-child(4) {
    width: 266px;

    .dropdown-response {
        width: 301px;
    }
}

// contact / company ---------------------- //

.company__forminput {
    margin-right: 8px;

    input {
        width: 100%;
    }
}

.company__table {
    &.commontable p {
        margin-left: 8px;
    }


    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(8) {
        text-align: center;
    }

    td:nth-child(8) {
        p {
            margin-left: 0;
        }
    }
}

.company__forminput:nth-child(1) {
    width: 206px;

    .dropdown-response {
        width: auto;
    }
}

.company__forminput:nth-child(2) {
    width: 176px;

    .dropdown-response {
        width: 256px;
    }
}

.company__forminput:nth-child(3) {
    width: 266px;

    .dropdown-response {
        width: 301px;
    }
}



// contact info card ------------------------ //
.contact__head {
    margin-bottom: 16px;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #FBFBFB;
}

.contact__head-left {
    display: flex;
    align-items: center;

    .imageUpload {
        position: absolute;
        opacity: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 4;
        top: 0;
        left: 0;
    }

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 16px;
        cursor: pointer;
    }

    p {
        color: #3670F0;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.1px;
    }
}

.contact__head-right {
    display: flex;
    align-items: center;
}

.contact__head-users {
    display: flex;
    align-items: center;
    margin-right: 16px;

    >p {
        color: #5C6476;
        font-size: 10px;
        font-weight: 500;
        margin-right: 8px;
    }
}

.contact__head-user {
    position: relative;
    margin-right: -8px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    span {
        position: absolute;
        top: 30%;
        left: 100%;
        color: #FBFBFB;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border-radius: 4px;
        padding: 4px 14px;
        white-space: nowrap;
        background: #22232A;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: .1s;
    }

    &:hover {
        span {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }
}

.contact__head-btn {
    position: relative;
    cursor: pointer;
    .btn{
        width: 40px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #D9D9D9;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover{
            background: #ddd;
        }
    }

    img {
        width: 20px;
        height: 20px;
    }

    ul {
        position: absolute;
        z-index: 33;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
        background: #FBFBFB;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
        top: 110%;
        right: 0;
        width: 142px;
        display: none;

        li {
            padding: 8px 16px;
            transition: .3s;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover{
                background-color: #ddd;
            }

        }

        p {
            color: #383D54;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.25px;
        }

        img {
            margin-right: 8px;
            width: 16px;
            height: 16px;
            background-size: cover;
        }
    }
}

.contact-card .leads__info-wrapper {
    .leads__info-tasks {
        bottom: 5px;
    }

    .leads__right-wrapper {
        height: calc(100vh - 300px);
    }

    .leads__left-wrapper {
        height: calc(100vh - 186px);
    }
}

.contact__agreements-content {
    >p {
        color: #5C6476;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 16px;
    }
}

.contact__agreements-box {
    border-radius: 4px;
    border: 0.5px solid #D9D9D9;
    background: #FBFBFB;
    padding: 8px 16px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: .3s;

    &:hover {
        background: #f6f6f6;
    }

    .leads__leftblock-header {
        border: none;
        padding: 0;
    }

    dl {
        margin-top: 16px;
    }

    dl+dl {
        margin-top: 10px;
    }

    h4 {
        color: #22232A;
        font-size: 14px;
        font-weight: 600;
        line-height: 130%;
    }
}

.contact__agreements-wrap {
    display: none;
}

.contact__agreements-stage {
    border-radius: 15px;
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 24px;
    font-size: 12px;
    font-weight: 600;

    img {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        background-size: cover;
    }

    &.orange {
        color: #F58707;
        background: #FFDCB2;
    }

    &.grey {
        color: #5C6476;
        background: #D9D9D9;
    }
}

.contact__agreements-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 25px;
    cursor: pointer;

    .show-less {
        display: none;
    }

    &.active {
        .show-less {
            display: flex;
        }

        .show-more {
            display: none;
        }

        img {
            transform: rotate(180deg);
        }
    }


    p {
        color: #5C6476;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
    }

    img {
        width: 7px;
        margin-left: 4px;
        background-size: cover;

    }
}

.leads__leftblock-plus {
    cursor: pointer;
}

.contact__agreements-statistic {
    margin-bottom: 24px;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            width: 40%;

            &:nth-child(2) {
                text-align: center;
                width: 20%;
            }

            &:last-child {
                text-align: right;
            }
        }

        &+ul {
            margin-top: 4px;
        }

        p {
            font-size: 12px;
            font-weight: 700;
        }

        .successful {
            color: #72AA00;
        }

        .failed {
            color: #F24137;
        }

        span {
            color: #5C6476;
            text-align: right;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.rate-line {
    width: 100%;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 50px;
    position: relative;
    margin-bottom: 16px;

    span {
        position: absolute;
        height: 16px;
        background-color: #72AA00;
        border-radius: 50px 0 0 50px;
        top: 0;
        left: 0;
        transition: .3s;
    }
}

.contact__agreements-btn.whitebtn {
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}




// POPUP --------------- //
.contact_agreements__popup {
    .popup__wrapper {
        width: 884px;
    }
}

.popup__inner.contact_agreements__popup-inner {
    border-radius: 4px;
    background: #EDF2F6;
    padding: 32px 0 24px;
    width: 884px;
}

.contact-popup__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 24px;

    h3 {
        color: #22232A;
        font-size: 16px;
        font-weight: 800;
    }

    img {
        width: 16px;
        height: 16px;
        background-size: cover;
    }
}

.contact-popup__header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 8px;

    img {
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-right: 8px;
    }

    p {
        color: #5C6476;
        font-size: 14px;
        font-weight: 700;
    }
}

.contact-popup__btn {
    text-align: right;
    padding: 0 24px;

    a {
        display: inline-block;
    }
}

.contact-popup__table {
    margin-bottom: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    height: 260px;

    &::-webkit-scrollbar {
        width: 2px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #D9D9D9;
        cursor: pointer;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3670F0;
        cursor: pointer;
        border-radius: 20px;
    }

    table {
        width: 100%;
        background: #fbfbfb;
        border: 1px solid #D9D9D9;
        position: relative;
    }

    tr:first-child {
        position: sticky;
        left: 0;
        top: -1px;
        background-color: #fbfbfb;
        opacity: 1;
        z-index: 1;
        transition: z-index 0s;
    }

    td {
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    th,
    td {
        padding: 8px;
        border: 1px solid #D9D9D9;
        background: #FBFBFB;

        &:first-child {
            padding-left: 16px;
        }
    }

    th {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #383D54;
            font-size: 14px;
            font-weight: 700;
        }
    }

    td {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #5C6476;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .green p {
        color: #72AA00;
    }

    .red p {
        color: #F24137;
    }
}


.company_contact__popup {
    .popup__wrapper {
        width: 1172px;
    }

    .popup__inner.contact_agreements__popup-inner {
        width: 1172px;
    }

    .contact-popup__table td:nth-child(5) {
        text-align: center;
    }
}

.uploaded-image {
    position: relative;
}



input[type="password"] {
    content: '*';
    color: #383D54;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}




// RESPONSIVE -------------------------- //