html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    &::-webkit-scrollbar {
        width: 0;
    }

    /* ie 10+ */
    -ms-overflow-style: none;
    /* FF*/
    overflow: -moz-scrollbars-none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

html,
body {
    height: 100%;
}

label {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    cursor: default;
    font-weight: 400;
    font-family: 'Mont';
}

.main {
    flex: 1 1 auto;
    margin-top: 72px;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.customcontainer {
    max-width: 1300px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

.customcheck {

    &.jq-checkbox,
    &.jq-radio {
        width: 18px;
        height: 18px;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        margin: 0 10px 0 0;
        background: transparent;
        box-shadow: none;
    }

    &.jq-checkbox.checked {
        background: #3670F0;
        border: 1px solid #3670F0;

        .jq-checkbox__div {
            width: 11px;
            height: 11px;
            border-bottom: none;
            border-left: none;
            transform: none;
            background-image: url(../img/svg_icons/check_arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}

.bluebtn {
    background: #3670F0;
    border: 1px solid #3670F0;
    border-radius: 8px;
    padding: 8px 24px;
    transition: .3s;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;

    &:hover {
        background: rgba(54, 112, 240, 0.8);
        color: #fff;
    }
}

.whitebtn {
    cursor: pointer;
    border: 1px solid #3670F0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #3670F0;
    transition: .3s;

    &:hover {
        background: rgba(54, 112, 240, 0.04);
        color: #3670F0;
    }
}

.textbtn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #3670F0;
    outline: none;
    border: none;
    transition: .3s;
    background: transparent;
    border-radius: 8px;

    &:hover {
        background: rgba(54, 112, 240, 0.04);
        color: #3670F0;
    }

    &:focus {
        background: rgba(54, 112, 240, 0.15);
        color: #3670F0;
    }
}

.tasktype {
    position: relative;

    ul {
        display: none;
        position: absolute;
        z-index: 2;
    }
}

.table__row-checkbox {
    width: 18px;
    height: 18px;
    vertical-align: middle;

    >input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    /* создание в label псевдоэлемента before со следующими стилями */
    >span::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90%;
    }

    /* стили при наведении курсора на checkbox */
    >input:not(:disabled):not(:checked)+span:hover::before {
        background-image: url(../img/svg_icons/check_arrow.svg);
        border: 1px solid #5C6476;
        background-color: #5C6476;
    }


    /* стили для чекбокса, находящегося в состоянии checked */
    >input:checked+span::before {
        border-color: #3670F0;
        background-color: #3670F0;
        background-image: url(../img/svg_icons/check_arrow.svg);
    }
}

.commontable {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

    table {
        width: 100%;
        background: #fbfbfb;
        border: 1px solid #D9D9D9;
        position: relative;
    }

    .table__headrow {
        position: sticky;
        left: 0;
        top: -1px;
        background-color: #fbfbfb;
        opacity: 1;
        z-index: 1;
        transition: z-index 0s;
    }

    th {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #383D54;
        position: relative;
        height: 34px;
        border-right: 1px solid #D9D9D9;

        &:first-child {
            padding-left: 10px;
            width: 30px;
            border-right: none;
        }

        &:last-of-type {
            width: 47px;

            img {
                margin: 0;
            }

            p {
                margin: 0;
                text-align: center;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    tr {
        border: 1px solid #D9D9D9;
        border-radius: 1px 1px 0px 0px;

        &:hover td {
            background-color: #d9d9d9;

            .table__row-checkbox>span:before {
                border: 1px solid #5C6476;
            }
        }

        &.active td {
            background: rgba(59, 110, 223, 0.1);

            p.table_settings {
                background: rgba(59, 110, 223, 0.1);
            }
        }
    }

    td {
        border-right: 1px solid #D9D9D9;
        height: 34px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #5C6476;
        transition: .3s;
        position: relative;

        &:first-child {
            width: 28px;
            padding-left: 10px;
            border-right: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    p {
        margin-left: 16px;

        img {
            width: 16px;
            margin-right: 10px;
            vertical-align: middle;
            background-size: cover;
        }

        .table_thumbnail {
            width: 30px;
            height: 26px;
            background-size: cover;
            border-radius: 3px;
        }

        &.table_settings {
            margin: 0 auto;
            display: flex;
            width: 18px;
            height: 18px;
            align-items: center;
            justify-content: center;
            transition: .3s;
            border-radius: 4px;
            cursor: pointer;

            span {
                font-size: 19px;
                height: 26px;
            }

            &:hover {
                background: #F5F5F5;
            }
        }
    }

    .table__headrow-thumbnail {
        text-align: center;
        margin: 0 !important;

        img {
            margin: 0 !important;
        }
    }

    .short-field {
        text-overflow: ellipsis;
        width: 180px;
        overflow: hidden;
        white-space: nowrap;
    }

    .greenfield {
        background: #D9F3A4;
        border-radius: 50px;
        width: 72px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #72AA00;
    }

    .redfield {
        background: #FFD2CF;
        border-radius: 50px;
        width: 72px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #F24137;
    }

    .orangefield {
        background: #FFDCB2;
        border-radius: 50px;
        width: 72px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #F58707;
    }

    .table_task,
    .table_call {
        color: #72AA00;
        display: flex;
        align-items: center;
    }

    .table_meeting {
        color: #F24137;
        display: flex;
        align-items: center;
    }
}

.tooltip-common {
    position: relative;
}

.tooltip-text {
    height: 25px;
    width: 173px;
    background: #22232A;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    color: #FBFBFB;
    text-align: center;
    padding: 4px;
    position: fixed;
    z-index: 2;
    bottom: 150%;
    left: -200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

.tooltip-common:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.customradio {
    &.jq-radio.checked .jq-radio__div {
        width: 10px;
        height: 10px;
        margin: auto;
        border-radius: 50%;
        background: #3670F0;
        box-shadow: none;
    }

    &.jq-radio {
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 6px 0 0;
        border: 1px solid #d9d9d9;
        background: transparent;
        box-shadow: none;
        cursor: pointer;
    }

    &.jq-radio.checked,
    &.jq-radio.focused {
        border: 2px solid #3670F0;
    }
}

.commoninput {
    padding: 10px 16px;
    background: #FBFBFB;
    border: 0.5px solid #D9D9D9;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    color: #383D54;



    &::placeholder {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #5C6476;
    }
}

.inputfield {
    label {
        width: 100%;

        p {
            display: inline-block;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 4px;
            color: #5C6476;

            &.required {
                font-weight: 600;
            }
        }
    }

    input {
        transition: .3s;
        outline: none;
    }

    &:not(.select) {
        input {

            &:active,
            &:focus {
                background: #ECF6FF;
                border: 1px solid #3670F0;
            }
        }
    }

    textarea {
        resize: none;
        outline: none;
        transition: .3s;

        &:focus {
            background: #ECF6FF;
            border: 1px solid #3670F0;
        }
    }

    &.limit {
        position: relative;

        .limit-counter {
            position: absolute;
            top: 53%;
            right: 8px;
            color: #9FA6AE;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        input:focus+.limit-counter {
            color: #3670F0;
        }
    }
}

.select {
    position: relative;
    cursor: pointer;

    input {
        cursor: pointer;
    }

    >ul {
        position: absolute;
        display: none;
        z-index: 55;
        top: 110%;
        left: 0;
        padding: 8px;
        background: #F5F5F5;
        border: 0.5px solid #D9D9D9;
        box-shadow: 0px 4px 3px rgba(56, 61, 84, 0.08);
        border-radius: 10px;
        width: auto;

        label {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 8px 16px;
        }

        .customradio.jq-radio {
            transition: .3s;
        }

        li {
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #383D54;
            transition: .3s;
            border-radius: 4px;

            &:hover {
                background: rgba(59, 110, 223, 0.1);

                label {
                    color: #3670F0;
                }

                .customradio.jq-radio {
                    border-color: #3670F0;
                }
            }
        }
    }
}


.select {
    >input {
        padding: 13px 20px;
        cursor: pointer;
    }

    svg {
        position: absolute;
        top: 62%;
        right: 15px;
        left: initial;
        pointer-events: none;
    }

    .dropdown {
        position: absolute;
        z-index: 99;
        width: auto;
        right: 0;
        top: 107%;
        padding: 16px 22px;
        background: #fbfbfb;
        border: 0.5px solid #D9D9D9;
        box-shadow: 0px 4px 3px rgba(56, 61, 84, 0.08);
        border-radius: 10px;
        display: none;


        label {
            cursor: pointer;
        }

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            cursor: pointer;
        }

        input+label:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        input:checked+label::before {
            border: 2px solid #F0F2F5;
            box-shadow: 0 0 0 2px #3670F0;
            width: 16px;
            height: 16px;
            background-color: #3670F0;
            margin-left: 2px;
            margin-right: 12px;
        }
    }

    .dropdown-response {
        position: absolute;
        z-index: 99;
        width: auto;
        left: 0;
        top: 107%;
        padding: 16px 20px 16px;
        background: #F5F5F5;
        border: 0.5px solid #D9D9D9;
        box-shadow: 0px 4px 3px rgba(56, 61, 84, 0.08);
        border-radius: 10px;
        display: none;

        .dropdown-wrapper {
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .dropdown-row {
            width: 100%;
            height: 25px;
            display: flex;
            align-items: center;
            margin-top: 10px;

            label {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }

            &:first-child {
                margin-top: 0;
            }
        }

        label {
            cursor: pointer;
            padding: 0;
        }

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        input+label:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            border: 1px solid #adb5bd;
            border-radius: 5px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        input:checked+label::before {
            border: 1px solid #3670F0;
            background-color: #3670F0;
            background-image: url(../img/svg_icons/check_arrow.svg);
            background-size: 70%;
        }
    }
}

.dropdown-wrapper.dropdownscroll {
    height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 2px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #D9D9D9;
        cursor: pointer;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3670F0;
        cursor: pointer;
        border-radius: 20px;
    }
}




.downloadfield {
    position: relative;
    height: auto;
    display: block;
    border: 1px solid #3670F0;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    position: relative;
    transition: 0.3s;
    background-color: #fbfbfb;

    &:hover {
        background: rgba(59, 110, 223, 0.1);
    }


    span {
        position: absolute;
        top: 28%;
        right: 50%;
        transform: translateX(70%);
        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #3670F0;
    }
}

.jq-file.downloadinput {
    border: 1px solid #3670F0;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    position: relative;
    transition: .3s;

    .jq-file__browse {
        display: none;
    }

    .jq-file__name {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 12px 35px 12px 61px;
        border: none;
        border-bottom-color: #B3B3B3;
        border-radius: 4px;
        box-shadow: inset 1px 1px #F1F1F1;
        opacity: 0;
    }

    &:hover {
        background: rgba(59, 110, 223, 0.1);
    }
}

.multiselect {
    input {
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        background: transparent;
        cursor: pointer;
        padding: 0;
        display: inline-block;

        &::placeholder {
            color: #D9D9D9;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }
}


.loading {
    animation: 3s linear infinite circleanim;
    display: none;
    top: 0;
    position: absolute;
    right: 0;
    top: 25%;

    &.active {
        display: inline-block;
    }
}

@keyframes circleanim {
    to {
        transform: rotate(360deg);
    }
}

.with-dropdown {
    width: fit-content;

    .inputwrap,
    p {
        position: relative;
        overflow: initial;
        display: inline-block;
    }

    .leads__leftblock-settings {
        position: absolute;
        bottom: 0;
        right: -30px;

        i {
            position: absolute;
            opacity: 0;
            transition: .3s;
            top: 50%;
            transform: translateY(-50%);
            right: -105px;
            color: var(--White, #FBFBFB);
            font-family: Inter;
            font-size: 10px;
            line-height: 100%;
            font-style: normal;
            font-weight: 400;
            height: 16px;
            border-radius: 4px;
            background: var(--Dark-Grey, #22232A);
            padding: 4px 12px;
            display: flex;
            align-items: center;
        }

        &:hover {
            i {
                opacity: 1;
            }
        }
    }

    ul {
        display: none;
        transition: 0;
    }
}





//  ------------------ POPUP ------------------------ //

.popup__window {
    z-index: -2;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: .4s;
    overflow-y: scroll;

    &.active {
        z-index: 999;
        visibility: visible;
        opacity: 1;
        transition: .4s;
    }
}

.popup__wrapper {
    width: 565px;
    padding: 7vh 0;
}

.popup__inner {
    background: #FBFBFB;
    border-radius: 8px;
    padding: 32px 24px;
}

.popup__close {
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}

@media (max-width:992px) {
    .popup__wrapper {
        overflow-x: scroll;
    }
}


@media (max-width:768px) {
    .pagewrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100vh;

        .customcontainer {
            width: 1300px;
            max-width: none;
        }
    }

    * {
        &::-webkit-scrollbar {
            width: initial;
        }

        &::-webkit-scrollbar {
            width: 100%;
            cursor: pointer;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #d9d9d9;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3670F0;
            cursor: pointer;
            border-radius: 12px;
            border: 3px solid #d9d9d9;
        }
    }
}



.container-fluid {
    max-width: 1300px;
}


@media (min-width:1440.2px) {
    .customcontainer {
        padding: 0 30px;
        max-width: 1800px;
    }
}