html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

label {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100vw;
    cursor: default;
    font-weight: 400;
    font-family: 'Mont';
}

.main {
    flex: 1 1 auto;
    margin-top: 78px;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    * {
        &::-webkit-scrollbar {
            width: 0;
        }

        /* ie 10+ */
        -ms-overflow-style: none;
        /* FF*/
        overflow: -moz-scrollbars-none;
    }

}


.customcontainer {
    max-width: 1300px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

@media (min-width:1440.8px) {
    .customcontainer {
        padding: 0 20px;
        max-width: 1800px;
    }
}



.bluebtn {
    background: #3670F0;
    border: 1px solid #3670F0;
    border-radius: 8px;
    padding: 8px 24px;
    transition: .3s;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    &:hover {
        background: rgba(54, 112, 240, 0.8);
        color: #fff;
    }
}

.whitebtn {
    border: 1px solid #3670F0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #3670F0;
    transition: .3s;

    &:hover {
        background: rgba(54, 112, 240, 0.04);
        color: #3670F0;
    }
}