.header {
    background: #F3F3F3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    padding-left: 56px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        background-color: rgba(0, 0, 0, .3);
        transition: .2s .3s;
    }

    &.darkened {
        &:after {
            visibility: visible;
            transition: .3s;
            z-index: 99;
            opacity: 1;
        }

        .header__search {
            z-index: 1;
        }
    }

    .header__search.active {
        z-index: 55;

        .close {
            visibility: visible;
            opacity: 1;
            z-index: 1;
        }
    }
}

.tab-header{
    position: absolute;
    left: 80px;
}

.header__search {
    max-width: 564px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    .close {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        cursor: pointer;
    }

    input {
        width: 100%;
        background: #FBFBFB;
        border: none;
        border-radius: 50px;
        padding: 14px 30px 14px 61px;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #383D54;
        cursor: pointer;

        &::placeholder {
            font-size: 16px;
            line-height: 20px;
            color: #383D54;
        }
    }

    label {
        cursor: pointer;
        width: 100%;
        position: relative;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
            position: absolute;
            z-index: 2;
            left: 28px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.header__search-dropdown {
    display: none;
    position: absolute;
    z-index: 99;
    top: 120%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
}

.header__search-head {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    padding: 30px 32px 24px;
}

.header__search-inner {
    padding: 16px 32px;

    a {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-bottom: 8px;
        transition: .3s;

        img {
            width: 24px;
            background-size: cover;
            margin-right: 16px;
        }

        p {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #383D54;
        }

        span {
            font-weight: 600;
            font-size: 10px;
            line-height: 13px;
            margin-bottom: 4px;
            color: #5C6476;
        }

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.search-inner__wrapper {
    height: 400px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #D9D9D9;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3670F0;
        border-radius: 10px;
    }
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__notification {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 24px;
        height: 24px;
        background-size: cover;
    }

    .number {
        position: absolute;
        height: 31px;
        width: 31px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -2px;
        right: -15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        background: #3670F0;
        border: 3px solid #FBFBFB;
    }
}

.header__user {
    margin-left: 60px;

    img {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-size: cover;
    }
}


.header__search{
    position: relative;
    z-index: 99;
    &:after{
        content: '';
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .3);
        visibility: hidden;
        opacity: 0;
        transition:.3s;
    }
    &.active{
        &:after{
            visibility: visible;
            opacity: 1;
        }
    }
}

// RESPONSIVE ---------- //

@media(max-width:1400px) {
    .header {
        padding-right: 54px;
    }
}
@media(max-width:1200px) {

    .header__user {
        margin-left: 30px;
    }

}

@media(max-width:992px) {
    .header__search label {
        width: 75%;
        margin: 0 0 0 auto;
        display: flex;
    }



    .header {
        padding-right: 35px;
    }
}

@media(max-width:768px) {
    .header__search label {
        width: 100%;
    }
    .header {
        width: fit-content;
        position: absolute;
        padding-right: 0;
    }

    .header__notification {
        width: 45px;
        height: 45px;
    }

    .header__user img {
        width: 45px;
        height: 45px;
    }
    .header__search input {
        padding: 13px 30px 13px 61px;
    }

    .header__user {
        margin-left: 35px;
    }

    .header__notification .number {
        height: 24px;
        width: 24px;
        top: -6px;
        right: -6px;
        font-size: 11px;
        line-height: 13px;
    }
}