// sidebar --------------- //
.sidebar {
   width: 56px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 66;
   background: #07173A;
   text-align: center;
   padding: 10px 4px;


   a {
      display: block;
      margin-bottom: 32px;
      position: relative;
      width: 48px;
      height: 48px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         max-width: 100%;
         background-size: cover;

         &.hover-item {
            opacity: 0;
            transition: .2s;
         }
      }

      .sidebar-name {
         font-family: 'Inter';
         transition: .3s;
         position: absolute;
         visibility: hidden;
         z-index: -2;
         opacity: 0;
         transform: translate(90%, -50%);
         top: 50%;
         right: 0px;
         width: 200px;
         display: flex;
         justify-content: flex-start;

         >div {
            display: flex;
            align-items: center;
            padding: 5px 14px 5px;
            background: #22232A;
            border-radius: 4px;
         }

         p {
            color: #FBFBFB;
            display: block;
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
         }

         span {
            margin-left: 8px;
            background: #5C6476;
            border-radius: 3px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #D9D9D9;
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }

      &:hover {
         img.hover-item {
            opacity: 1;
         }

         .sidebar-name {
            visibility: visible;
            z-index: 99;
            opacity: 1;
            transform: translate(105%, -50%);
         }
      }
   }

   .sidebar__logo {
      margin-bottom: 53px;

      img {
         width: 40px;
         height: 40px;
      }
   }

   .sidebar__estate {
      &:after {
         content: '';
         position: absolute;
         bottom: -14px;
         display: block;
         height: 2px;
         width: 90%;
         background: #3670F0;
         border-radius: 20px;
      }
   }
}

// sidebar-box ------------------ //
.sidebar a.active {
   img.hover-item {
      opacity: 1;
   }
}

.sidebar-box {
   display: none;

   &.active-box {
      display: block;
   }
}

// agreements, contacts ------------------ //

.submenu__header {
   background-color: #F3F3F3;
   width: 350px;
   height: 72px;
   transition: .4s;

   ul {
      transition: .4s;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

   }

   li {
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      transition: .4s;

      a {
         color: #5C6476;
      }

      span {
         color: #383D54;
      }

      &+li {
         margin-left: 17px;

         &:before {
            content: '/';
            position: absolute;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            top: 50%;
            transform: translateY(-50%);
            left: -14px;
            color: #5C6476;
         }
      }
   }

   .burger-btn {
      margin-right: 8px;
      cursor: pointer;

      img {
         width: 26px;
         background-size: cover;
      }
   }

   a {
      display: flex;
      align-items: center;
      color: #5C6476;
   }

   span {
      color: #383D54;
   }
}

.submenu__inner {
   position: fixed;
   top: 72px;
   left: 56px;
   overflow-y: scroll;
   width: 300px;
   height: calc(100% - 72px);
   background-color: #E6E8EC;
   box-shadow: inset -1px 0px 4px rgba(0, 0, 0, 0.08);
   padding: 32px 16px;
   transition: .4s;
   z-index: -1;
   visibility: hidden;
   opacity: 0;
   transform: translateX(-20%);

   &.active {
      z-index: 50;
      visibility: visible;
      opacity: 1;
      transform: translateX(0%);
   }
}

.submenu__inner-item {
   padding: 10px 8px;
   display: flex;
   align-items: center;
   margin-bottom: 4px;
   transition: .3s;
   border-radius: 4px;
   cursor: pointer;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s;
   }

   a {
      transition: .3s;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #383D54;
   }

   .submenu__inner-img {
      position: relative;
      margin-right: 16px;
      width: 24px;
      height: 24px;

      &--hover,
      &--active {
         opacity: 0;
      }
   }

   &:hover {
      background: #D9D9D9;

      .submenu__inner-img {
         &--hover {
            opacity: 1;
         }

         &--static,
         &--active {
            opacity: 0;
         }
      }
   }

   &.active {
      background: rgba(59, 110, 223, 0.1);

      a {
         color: #3670F0;
      }

      .submenu__inner-img {
         &--active {
            opacity: 1;
         }

         &--static,
         &--hover {
            opacity: 0;
         }
      }
   }
}



// notification ---------------------- //
.notification {
   width: 320px;
   height: 100vh;
   background: #FFFFFF;
   position: fixed;
   z-index: 55;
   top: 0;
   right: 0;
   transition: .4s;
   transform: translateX(100%);

   &.active {
      transition: .3s .3s;
      transform: translateX(0%);
   }
}

.notification__head {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   width: 100%;
   height: 53px;
   background: rgba(59, 110, 223, 0.1);

   a {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #7299F1;
      position: relative;
      padding-bottom: 6px;
      transition: .3s;

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0;
         transition: .3s;
         height: 2px;
         background: #3670F0;
         border-radius: 5px;
      }

      &:hover {
         color: #3670F0;

         &:after {
            width: 100%;
         }
      }

   }
}


// notifications category swither -------- //
.notification-box {
   display: none;
}

.notification-box.active-box {
   display: block;
}

.tab-notification.active {
   color: #3670F0;

   &:after {
      width: 100%;
   }
}

.notification__content {
   height: calc(100vh - 53px);
   overflow-y: scroll;

   /* chrom, safari */
   &::-webkit-scrollbar {
      width: 0;
   }

   /* ie 10+ */
   -ms-overflow-style: none;

   /* FF*/
   overflow: -moz-scrollbars-none;
}

.notification-box {
   width: 248px;
   margin: 24px auto;
}

.notification-box__head {
   width: 100%;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   background: rgba(59, 110, 223, 0.1);
   border-radius: 50px;
   color: #3670F0;
   margin: 0 auto 32px;
}

.notification-box__wrapper {
   position: relative;

}

.notification-box__item {
   position: relative;
   transition: .5s;
   width: 100%;
   padding: 10px 0 16px 0;
   background: #F5F5F5;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
   border-radius: 20px;
   color: #5C6476;
   margin-bottom: 16px;
   cursor: pointer;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
   margin-top: -35px;
   z-index: 1;

   &:first-child {
      z-index: 20;
      margin-top: 0;

      .notification-item__wrapper {
         display: block;
      }
   }

   .notification-item__wrapper {
      padding: 0 16px 0 40px;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: none;
   }

   &.active {
      margin-top: 0;
   }


   img {
      position: absolute;
      width: 16px;
      background-size: cover;
      transition: .3s;
      top: 18px;
      left: 16px;

   }

   span {
      font-weight: 600;
      font-size: 10px;
      line-height: 100%;
      margin-bottom: 4px;
   }

   p {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
   }
}

.notification-box__divider {
   margin: 24px 0;
   position: relative;
   text-align: center;

   p {
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      font-weight: 700;
      padding: 0 8px;
      font-size: 12px;
      line-height: 15px;
      color: #5C6476;
   }

   &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background: #5C6476;
   }
}





// mainsection --------------- //
.mainsect {
   width: 100%;
   padding-left: 56px;
   height: calc(100vh - 72px);
   transition: .3s;
   background-color: #F0F2F5;

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      background-color: rgba(0, 0, 0, .3);
      transition: .2s .3s;
   }

   &.darkened:after {
      visibility: visible;
      z-index: 20;
      opacity: 1;
      transition: .3s;
   }
}

// newsfeed --------------- //
.newsfeed {
   padding: 30px 56px 30px 0;
   height: calc(100vh - 78px);
   width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 0;
   }

   /* ie 10+ */
   -ms-overflow-style: none;
   /* FF*/
   overflow: -moz-scrollbars-none;
}

.newsfeed__wrapper {
   width: 50%;
   min-width: 564px;
   margin-left: 25%;
}







































// RESPONSIVE ----------------------------------------------------------- //



@media(max-width:1400px) {

   .submenu__header {
      width: 300px;
   }

   .submenu__header .burger-btn img {
      width: 24px;
   }

   .submenu__header li+li:before {
      font-size: 16px;
      line-height: 18px;
      top: 50%;
      left: -12px;
   }

   .submenu__header li {
      font-size: 16px;
      line-height: 18px;
   }

   .newsfeed__wrapper {
      margin-left: calc(25% - 60px);
   }

}

@media(max-width:1200px) {
   .submenu__header li {
      font-size: 14px;
      line-height: 17px;
   }
   .submenu__header .burger-btn img {
      width: 20px;
   }
}

@media(max-width:992px) {

   .newsfeed {
      padding: 30px 35px 30px 91px;
   }

   .newsfeed__wrapper {
      width: 100%;
      min-width: auto;
      margin-left: 0;
   }

}


@media(max-width:768px) {

   .mainsect {
      width: fit-content;
   }
}