.leads__head {
    padding: 16px 0 24px;

    form {
        display: flex;
        align-items: flex-end;

        button {
            width: 130px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3670F0;
            border-radius: 8px;
            border: none;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.leads__forminput {
    width: 121px;
    position: relative;
    margin-right: 24px;

    &.select .dropdown-response {
        background: #fbfbfb;
    }

    &:nth-child(2) {
        width: 157px;
    }

    label {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        line-height: 18px;
        position: relative;
    }

    input {
        width: 100%;
        padding: 11px 24px;
        background: #FBFBFB;
        border: 0.5px solid #D9D9D9;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #383D54;
        cursor: pointer;
    }

    &.leads-filter {
        .dropdown-response {
            width: 266px;

            .dropdown-btn {
                width: 119px;
            }

            .dropdown-row {
                width: 100%;
            }
        }

        &:last-of-type {
            .dropdown-response {
                width: 200px
            }
        }
    }
}

.leads__head-btn {
    width: 184px;
    margin: 0 0 0 auto;

    a {
        margin: 0 0 0 auto;
        height: 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #3670F0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #3670F0;
        border-radius: 8px;
        position: relative;
        transition: .3s;

        &:hover {
            background: rgba(59, 110, 223, 0.1);
        }

        img {
            margin-right: 10px;
        }
    }
}


.leads__table {
    height: calc(100vh - 185px);
}



.lead-block-dropdown {
    background: #FBFBFB;
    border: 0.5px solid #D9D9D9;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 8px;
    width: 238px;
    position: absolute;
    z-index: 9;
    top: 80%;
    right: 0;
    display: none;

    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.25px;
        color: #383D54;
        padding: 9px 4px 9px 4px;
        transition: .3s;
        border-radius: 5px;

        img {
            margin-right: 8px;
        }

        &:hover {
            background-color: #d9d9d9;
        }

        &.trash {
            color: #F24137;
            position: relative;

            img {
                width: 16px;
                background-size: cover;
                margin-right: 8px;
            }
        }
    }
}





// leads info sidebar ---------------------------------- //
.open-leadinfo {
    cursor: pointer;
}

.leads__info {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: opacity .3s .3s, transform 0s .5s;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;


    &-wrapper {
        overflow: hidden;
        border-radius: 8px 0px 0px 8px;
        padding: 64px 20px 0;
        background: #F0F2F5;
        min-width: 920px;
        width: 65%;
        height: 100%;
        margin: 0 0 0 auto;
        min-width: 920px;
        position: relative;
        transition: .6s ease-in-out;
        transform: translateX(100%);
    }

    &.show {
        transform: translateX(0%);
        transition: opacity .3s, transform 0s;
        opacity: 1;

        .leads__info-wrapper {
            transform: translateX(0%);
            z-index: 99;
        }
    }

    .row {
        height: 100%;
    }

    .row>* {
        padding-right: 7px;
        padding-left: 7px;
    }
}

.close-info {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}

.leads__info-left {
    position: relative;
    height: 100%;
}

.leads__left-wrapper {
    height: calc(100vh - 140px);
    overflow-y: scroll;
    position: relative;
}

.leads__info-leftblock {
    background: #FBFBFB;
    border-radius: 8px;
    width: 100%;
    padding: 16px;

    &+.leads__info-leftblock {
        margin-top: 16px;
    }
}

.leads__leftblock-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 8px;

    h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #3670F0;
    }

}

.leads__leftblock-settings {
    position: relative;
    cursor: pointer;
    transition: .3s;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    border-radius: 3px;

    >ul {
        position: absolute;
        top: 110%;
        right: 0;
        background: #FBFBFB;
        border: 0.5px solid #D9D9D9;
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        width: 205px;
        transition: .3s;
        transform: translateY(-5px);
        opacity: 0;
        visibility: hidden;
        z-index: -1;

        li {
            padding: 8px 24px 8px 16px;
            transition: .2s;
            font-weight: 500;
            border-radius: 4px;
            font-size: 14px;
            line-height: 20px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            letter-spacing: 0.25px;
            color: #383D54;

            img {
                width: 16px;
                height: 16px;
                margin-right: 8px;
                background-size: cover;
                &.active-icon{
                    display: none;
                }
            }

            &:hover {
                background: #D9D9D9;
            }
            &:active{
                color: #3670F0;
                background: rgba(59, 110, 223, 0.1);
                img{
                    &.active-icon{
                        display: block;
                    }
                    &.static-icon{
                        display: none;
                    }
                }
            }
        }
    }

    img {
        width: 16px;
        height: 16px;
        background-size: cover;
    }

    &:hover {
        background-color: #f5f5f5;

        ul {
            opacity: 1;
            visibility: visible;
            transform: translate(0);
            z-index: 22;
        }
    }
}


.leads__leftblock-inner {
    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #050A15;
        margin-bottom: 16px;
    }
}

.leads__leftblock-content {
    dl {
        margin: 0;
        display: flex;
        align-items: center;

        +dl {
            margin-top: 16px;
        }
    }

    dt {
        font-weight: 600;
        width: 30%;
        font-size: 12px;
        line-height: 15px;
        color: #5C6476;
        text-align: right;
    }

    dd {
        width: calc(70% - 16px);
        margin: 0 0 0 16px;
        font-weight: 600;
        font-size: 14px;
        color: #22232A;

        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #3670F0;
        }
    }
}

.leads__leftblock-input {
    position: relative;
    width: 100%;
    display: inline-block;

    p {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #22232A;
        cursor: pointer;
        max-width: 100%;
        padding-right: 15px;
        position: relative;
        white-space: nowrap;

        &:after {
            pointer-events: none;
            position: absolute;
            content: '';
            width: 8px;
            height: 5px;
            background-size: cover;
            top: 6px;
            right: 0px;
            background-image: url(../img/svg_icons/arrow_down_blue.svg);
        }
    }


    .dropdownwrap {
        display: none;
        position: absolute;
        z-index: 22;
        left: 0;
        top: 110%;
        background: #FBFBFB;
        border: 0.5px solid #D9D9D9;
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 8px;
        padding: 15px 7px 15px 0;
        min-width: 150px;


        li {
            width: auto;
            cursor: pointer;
            padding: 8px 8px 8px 24px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.25px;
            color: #383D54;
            position: relative;
            transition: .3s;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                transition: .3s;
                opacity: 0;
                width: 16px;
                height: 16px;
                background-image: url(../img/svg_icons/check.svg);
            }

            &:hover {
                opacity: .8;
                margin-left: 14px;

                &:before {
                    opacity: 1;
                }
            }

        }
    }

    .dropdownscroll {
        width: 300px;
        left: initial;
        right: 0;

        ul {
            height: 200px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;
                cursor: pointer;
            }

            &::-webkit-scrollbar-track {
                background: #D9D9D9;
                cursor: pointer;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #3670F0;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }
}

.edit-element {
    cursor: pointer;
}
.lead-element{
    border-bottom: 1px solid #3670F0;
    color: #3670F0;
    display: inline-block;
}

.noteditcontent {
    >p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #3670F0;
        border-bottom: 1px solid #3670F0;
        padding-right: 2px;
    }

    &>p:after {
        display: none;
    }
}

.not-filled {
    >p {
        color: #dddddd;
        border: none;
    }

    &>p:after {
        filter: grayscale(1);
        opacity: .4;
    }

    &.filled {
        >p {
            color: #22232A;
        }

        &>p:after {
            filter: none;
            opacity: 1;
        }
    }
}



.lead-element-edit {
    display: inline-block;
    width: auto;
    resize: none;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #22232A;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #3670F0;
}

.leads__leftblock-action {
    position: relative;
    cursor: pointer;

    >p {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    textarea {
        resize: none;
        height: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #22232A;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 0.5px solid #3670F0;
    }

    &:hover {
        >ul {
            visibility: visible;
            z-index: 22;
            opacity: 1;
            transform: translateY(0);
        }
    }

    >ul {
        position: absolute;
        visibility: hidden;
        z-index: -2;
        opacity: 0;
        transform: translateY(5px);
        left: 0;
        top: 100%;
        background: #FBFBFB;
        border: 0.5px solid #D9D9D9;
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        transition: .3s;

        li {
            width: auto;
            cursor: pointer;
            padding: 8px 24px 8px 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.25px;
            color: #383D54;
            position: relative;
            transition: .2s;
            border-radius: 4px;
            
            &:hover {
                background: #D9D9D9;
            }

            img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}

.leads__info-agreement {
    position: absolute;
    width: 105%;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.08);
    padding: 16px 12px 16px 5%;
    border-radius: 0 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leads-trashed {
        width: 18%;
        height: 40px;
        border: 1px solid #3670F0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 16px;
            height: 16px;
            background-size: cover;
        }

        transition: .3s;

        &:hover {
            background: rgba(54, 112, 240, 0.04);
        }
    }

    .leads-archived {
        border: 1px solid #3670F0;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3670F0;
        transition: .3s;

        &:hover {
            background: rgba(54, 112, 240, 0.04);
        }

        &:focus {
            background: rgba(54, 112, 240, 0.15);
        }
    }

    .leads-agreement {
        height: 40px;
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        background: #3670F0;
        border-radius: 8px;
        transition: .3s;

        &:hover {
            background: rgba(54, 112, 240, 0.8);
        }
    }
}

.leads__info-right {
    position: relative;
    height: 100%;
}

.leads__right-wrapper {
    height: calc(100vh - 190px);
    overflow-y: scroll;
    position: relative;
}

.leads__info-righthead {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 12px;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;

    h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5C6476;
    }

    img {
        width: 16px;
        background-size: cover;
        margin-right: 4px;
    }
}

.leads__info-divider {
    text-align: center;
    margin-bottom: 16px;

    p {
        display: inline-block;
        padding: 0px 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #22232A;
        background: #D9D9D9;
        border-radius: 50px;
    }
}

.leads__info-callblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    background: #FBFBFB;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 16px;

    img {
        height: 30px;
        background-size: cover;
    }

    p {
        // font-weight: 600;
        // font-size: 13px;
        // line-height: 13px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #5C6476;

        &+p {
            margin-top: 8px;
        }
    }

    a {
        transition: .3s;

        &:hover {
            filter: brightness(90%);
        }
    }


    .leads__call-btn {
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        border-radius: 50px;
        padding: 4px 8px;
        color: #5C6476;
        background: #D9D9D9;
        margin-top: 8px;
        display: inline-block;

        &.callback {
            color: #1AA3AE;
            background: #BCEAEA;
        }

        &.notcall {
            color: #F24137;
            background: #FFD2CF;
        }
    }
}

.leads__info-rightblock {
    position: relative;
    margin-bottom: 16px;

    .lead-block-dropdown {
        z-index: 99;
    }

    &.orange {
        .leads__rightblock-head {
            background: #FFF0B6;

            h3 {
                color: #EDB21C;

                span {
                    border-color: #EDB21C;
                }
            }
        }

        .leads__rightblock-settings {
            span {
                color: #EDB21C;
            }

            &:hover {
                background: #FFFAE6;
            }
        }
    }

    &.red {
        .leads__rightblock-head {
            background: #FFEAE9;

            h3 {
                color: #F24137;

                span {
                    border-color: #F24137;
                }
            }
        }

        .leads__rightblock-settings {
            span {
                color: #F24137;
            }

            &:hover {
                background: #fcf4f3;
            }
        }
    }

    &.green {
        .leads__rightblock-head {
            background: #D9F3A4;

            h3 {
                color: #72AA00;

                span {
                    border-color: #72AA00;
                }
            }
        }

        .leads__rightblock-settings {
            span {
                color: #72AA00;
            }

            &:hover {
                background: #F1FBDD;
            }
        }
    }

    &.done {

        .leads__rightblock-head,
        span,
        p {
            opacity: 0.5;
        }

        pointer-events: none;
    }
}

.leads__rightblock-head {
    width: 100%;
    height: 48px;
    padding: 16px 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.leads__rightblock-title {
    display: flex;
    align-items: center;

    h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        span {
            border-bottom: 1px solid;
            padding-bottom: 2px;
            padding-right: 1px;
            color: #22232A;
        }
    }

    img {
        width: 16px;
        background-size: cover;
        margin-right: 4px;
    }
}

.leads__rightblock-settings {
    border-radius: 4px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;

    span {
        font-size: 19px;
        height: 36px;
    }
}


.leads__rightblock-content {
    background: #FBFBFB;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.08));

    .note-edit {
        display: none;

        .btns {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 16px;
            width: 100%;
        }

        a {
            padding: 0px 8px;
            display: flex;
            align-items: center;
            height: 24px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 16px;

            &+a {
                margin-left: 8px;
            }
        }
    }

    .leads__rightblock-note {

        textarea {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #22232A;
            resize: none;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            white-space: nowrap;
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #22232A;
        }

    }

    .result-info {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #22232A;
        margin-bottom: 16px;
    }

    .result {
        margin-bottom: 16px;
        display: none;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .btns {
            display: flex;
            align-items: center;

            a {
                padding: 4px 8px;
                border-radius: 4px;
                font-size: 12px;

                &+a {
                    margin-left: 5px;
                }
            }
        }

        textarea {
            background: #F5F5F5;
            border: 0.5px solid #D9D9D9;
            box-shadow: inset 0px 2px 1px rgba(56, 61, 84, 0.03);
            border-radius: 4px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            resize: none;
            height: 24px;
            width: 60%;
            padding: 4px 10px;
            outline: none;
            color: #22232A;

            &::placeholder {
                opacity: .4;
            }
        }
    }

    span {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #5C6476;
        margin-bottom: 16px;
        display: block;
    }
}

.leads__info-tasks {
    position: absolute;
    padding: 15px 16px;
    bottom: 16px;
    width: 100%;
    left: 0;
    background: #FBFBFB;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px -3px 9px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}



.leads__task-head {
    display: flex;
    align-items: center;

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #22232A;
        height: 19px;
    }

    .dropdown-element {
        p {
            color: #3670F0;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            margin-right: 9px;
            cursor: pointer;
            border-bottom: 1px solid #3670F0;
        }
    }

    input {
        margin-left: 9px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        border: none;
        border-radius: 0;
        width: 65px;
        padding: 0;
        cursor: pointer;
        display: inline-block;
        background: transparent;
        color: #3670F0;
        border-bottom: 1px solid #3670F0;

        &.datepicker {
            width: 54px;

            &.width-active {
                width: 122px;
                border: 1px solid #D9D9D9;
                border-radius: 2px;
                padding: 4px 4px 4px 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #22232A;
            }
        }


        &::placeholder {
            color: #3670F0;
        }
    }

    .leads__task-name {
        margin-right: 7px;
        margin-left: 0;
    }

    .task-name__list {
        display: none;
        position: absolute;
        bottom: 90%;
        left: 0;
        padding: 16px 32px;
        background: #FBFBFB;
        border: 0.5px solid #D9D9D9;
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
        border-radius: 10px;

        li {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.25px;
            color: #383D54;
            transition: .3s;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            +li {
                margin-top: 16px;
            }
        }
    }

    .leads__task-type {
        position: relative;
        margin-left: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #22232A;
        cursor: pointer;
        border-bottom: 1px solid #72AA00;

        p>svg path {
            fill: #72AA00;
        }

        svg {
            margin-right: 4px;
        }

        ul {
            display: none;
            position: absolute;
            width: 120px;
            bottom: 110%;
            left: 50%;
            transform: translateX(-50%);
            padding: 8px 16px;
            background: #FBFBFB;
            border: 0.5px solid #D9D9D9;
            box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
            border-radius: 10px;

            li {
                font-weight: 500;
                padding: 8px 4px;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
                letter-spacing: 0.25px;
                color: #383D54;
                transition: .3s;

                &:hover {
                    opacity: 0.7;
                }

                img {
                    margin-right: 4px;
                    width: 16px;
                    height: 16px;
                    background-size: cover;
                }
            }
        }
    }
}

.leads__task-headinfo {
    display: flex;
    align-items: center;
}

.leads__task-field {
    resize: none;
    width: 100%;
    height: 30px;
    padding: 10px 0 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #22232A;
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        color: #D9D9D9;
    }
}

.leads__task-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        border: 1px solid #3670F0;
        border-radius: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        padding: 0px 8px;
        color: #3670F0;
        transition: .3s;
        height: 24px;
        display: flex;
        align-items: center;

        &:hover {
            background: rgba(54, 112, 240, 0.04);
        }

        &:last-child {
            color: #fff;
            background: #3670F0;
            margin-left: 8px;

            &:hover {
                background: rgba(54, 112, 240, 0.8);
            }
        }
    }
}


// DATEPICKER -------------- //

.numInputWrapper span,
.flatpickr-monthDropdown-months {
    border: none;
}

.flatpickr-innerContainer {
    width: 222px;
}

.dayContainer {
    width: 222px;
    min-width: 222px;
    max-width: 222px;
}

.flatpickr-days {
    width: 222px;
}


.flatpickr-calendar {
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 222px;
    box-sizing: border-box;
    touch-action: manipulation;
    background: #fbfbfb;
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.flatpickr-current-month input.cur-year,
.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.flatpickr-weekday,
.flatpickr-day {
    height: 25px;
}

.flatpickr-day {
    border-radius: 2px;
    color: #22232A;
    border: none;
    cursor: pointer;
    font-weight: 400;
    line-height: 39px;
    display: flex;
    align-items: center;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    border-color: #3670F0;
    color: #FBFBFB;
    background: #3670F0;
}

span.flatpickr-weekday,
.flatpickr-day {
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #22232A;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: inherit;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: inherit;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    margin-bottom: 8px;
}







// lead popup --------------------------------- //

.lead__popup {

    .lead__popup-inner {
        overflow: hidden;
        width: 100%;
        background: #F5F5F5;
        border-radius: 8px;
    }

    .lead__popup-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 56px;
        padding: 0 32px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);

        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #383D54;
        }
    }

    .lead__popup-body {
        padding: 34px 32px 24px;
        background-color: #F0F2F5;

        .row {
            margin-bottom: 24px;
        }

        .col-6:first-child {
            border-right: 0.5px solid #D9D9D9;
        }

        .col-6:last-child {
            .inputfield {
                margin: 24px 0 0 auto;
            }

        }
    }

    .inputfield {
        width: 216px;
        position: relative;

        &.error {
            input {
                background: #FFEAE9 !important;
                border: 0.5px solid #F24137 !important;
                caret-color: #F24137 !important;
            }
        }

        &+.inputfield {
            margin-top: 24px;
        }

        &.select {
            input:focus {
                background: #F5F5F5;
                border: 0.5px solid #D9D9D9;
            }

            input::placeholder {
                color: #383D54;
            }

            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/svg_icons/arrow_down.svg);
                width: 14px;
                height: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                bottom: 30%;
                right: 16px;
            }

            >ul {
                width: 331px;
            }

        }

        >img {
            position: absolute;
            top: 55%;
            left: 10px;
            width: 14px;
            height: 14px;
            background-size: cover;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #5C6476;
            margin-bottom: 4px;
        }

        input {
            width: 100%;
            background: #F5F5F5;
            border: 0.5px solid #D9D9D9;
            box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.03);
            border-radius: 10px;
            padding: 11px 16px 11px 25px;
            font-size: 14px;
            line-height: 18px;
            color: #383D54;
            font-weight: 600;
            line-height: 20px;

            &:focus {
                background: #ECF6FF;
                border: 1px solid #3670F0;
            }

            &::placeholder {
                color: #D9D9D9;
            }
        }

        textarea {
            resize: none;
            border-radius: 10px;
            background: #F5F5F5;
            width: 216px;
            height: 91px;
            padding: 11px 16px;
            border: 0.5px solid #D9D9D9;
            box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.03);
            border-radius: 10px;
            outline: none;
        }
    }

    .lead__popup-subtitle {
        color: #383D54;
        position: relative;
        width: 216px;
        margin: 0 0 0 auto;

        h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #383D54;
            padding-right: 10px;
            text-transform: uppercase;
            background-color: #F0F2F5;
            display: inline-block;
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            border-top: 0.5px solid #D9D9D9;
        }
    }

    .lead__popup-bottom {
        height: 56px;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #f5f5f5;

        button {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            border: 1px solid #3670F0;
            border-radius: 8px;
            color: #3670F0;
            outline: none;
            width: 145px;
            height: 40px;
            transition: .3s;
            background: transparent;

            &:hover {
                background: rgba(54, 112, 240, 0.04);
            }

            +button {
                margin-left: 16px;
                background: #3670F0;
                border-radius: 8px;
                color: #fff;
                border: 1px solid #3670F0;
                transition: .3s;

                &:hover {
                    background: rgba(54, 112, 240, 0.8);
                }
            }
        }
    }

    .addinput-btn {
        display: flex;
        align-items: center;
        width: 216px;
        margin: 10px 0 0 auto;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: 0.7;
        }

        img {
            width: 14px;
            height: 14px;
            background-size: cover;
            margin-right: 8px;
        }

        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #5C6476;
        }
    }
}


// lead-warning__popup ---------------------- //
.lead-warning__popup {
    .popup__wrapper {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .lead-warning__popup-inner {
        background: #FBFBFB;
        border-radius: 4px;
        padding: 48px 24px 16px;
        position: relative;

        >.popup__close {
            position: absolute;
            top: 16px;
            right: 24px;
            height: 16px;
            width: 16px;
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #22232A;
            margin-bottom: 24px;
        }

        .lead-warning__popup-bottom {
            display: flex;

            a {
                margin-right: 10px;

                &:last-child {
                    color: #3670F0;
                    border-radius: 8px;
                    padding: 8px 24px;
                    transition: .3s;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    transition: .3s;

                    &:hover {
                        background: rgba(54, 112, 240, 0.04);
                    }
                }
            }
        }
    }
}


//  RESPONSIVE --------------- //

@media(max-width:1600px) {
    .leads__leftblock-content dd .colortext {
        padding: 5px 25px 5px 10px;
    }

    .leads__leftblock-head {
        padding: 16px 8px;
    }

    .leads__info-callblock {
        padding: 16px 18px;

        img {
            height: 24px;
        }

        p {

            &+p {
                margin-top: 4px;
            }
        }


        .leads__call-btn {
            font-size: 8px;
            margin-top: 4px;
        }
    }
}

@media(max-width:1400px) {

    .leads__forminput.select .dropdown-response {
        right: initial;
        left: 0;
    }

    .select .dropdown-response {
        left: initial;
        right: 0;
    }
}

@media(max-width:1200px) {
    .select .dropdown-response {
        width: 650px;


        .dropdown-row {
            width: 33%;
        }
    }

    .leads .customcontainer {
        padding: 0;
    }

    .leads__forminput.select .dropdown-response {
        width: 266px;
        flex-wrap: nowrap;

        .dropdown-row {
            width: 100%;
        }

    }

    .leads__forminput:last-of-type.select .dropdown-response {
        width: 365px;

    }

    .leads__head {
        padding: 16px 24px;
    }

    .leads {
        padding: 0px 0px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 100%;
            height: 10px;
            /* ширина всей полосы прокрутки */
        }

        &::-webkit-scrollbar-track {
            background: #d9d9d9;
            /* цвет зоны отслеживания */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3670F0;
            border-radius: 12px;
            border: 3px solid #d9d9d9;
        }

        .customcontainer {
            width: 1200px;
        }
    }

    .leads__table {
        height: calc(100vh - 178px);

        table {
            width: 1200px;
        }
    }

    .leads__table p {
        margin-left: 10px;
    }
}

@media(max-width:992px) {

    .leads__rightblock-content .result textarea {
        width: 40%;
    }


    .leads__task-head .dropdown-element p {
        font-size: 13px;
    }

    .leads__task-head .leads__task-type ul {
        right: 0;
        left: initial;
        padding: 14px 25px;
    }

    .leads__info-callblock {
        flex-wrap: wrap;
        padding: 15px 18px 5px;
    }

    .leads__callblock-col {
        width: 35%;
        margin-bottom: 10px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(4) {
            width: 30%;
        }
    }

    .leads__info {
        &-wrapper {
            width: calc(100% - 56px);
            min-width: 700px;
        }
    }
}

@media(max-width:768px) {
    .select .dropdown-response {
        width: 550px;

        .dropdown-btn {
            width: 24%;
        }
    }

    .sideleads-tab {
        width: fit-content;
    }

    .leads {
        width: fit-content;
        overflow: initial;
    }

    .leads__info {
        overflow-x: scroll;
    }

    .leads__info-wrapper {
        width: 1200px;
    }
}