// HEADER ------------------------- //

.estheader {
    width: 100%;
    height: 72px;
    background: #F3F3F3;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.03);
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
}

.estbuttons-mobile {
    display: none;
}

.estcard__box-info--mobile {
    display: none;
}

.estheader__logo {
    a {
        display: block;
        width: 135px;
    }

    img {
        width: 100%;
        background-size: cover;
    }
}

.estheader__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.estheader__info-btn {
    position: relative;
    margin-left: 41px;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
    cursor: pointer;
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.02), 2px 0px 14px 0px rgba(0, 0, 0, 0.02);
    transition: .3s;

    &:hover {
        background: #D9D9D9;
    }

    span {
        position: absolute;
        display: block;
        top: -2px;
        right: -20px;
        width: 34px;
        height: 34px;
        border: 3px solid #fff;
        border-radius: 50%;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background-color: #6B7690;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.like {
        span {
            background-color: #F24137;
        }
    }

    .active {
        display: none;
    }

    &.active {
        .active {
            display: block;
        }

        .static {
            display: none;
        }
    }
}


.estcard__box-row .whitebtn {
    margin: 0 0 0 auto;
    color: #3670F0;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    height: 40px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}




//  ESTPAGE SECTION ------------------------ //

.estcard__back {
    display: none;
}

.estpage {
    padding: 96px 0 24px;
    background: #EDF2F6;
    width: 100%;
}

.estpage__top {
    margin-bottom: 16px;
}

.estpage__top-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.estpage__top-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 71px;
    position: relative;
    border-radius: 8px;
    background: #FBFBFB;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03), 2px 0px 11px 0px rgba(0, 0, 0, 0.03);
    height: 558px;
    width: 100%;
    position: relative;

    h2 {
        color: #22232A;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        position: relative;
        max-width: 460px;
        margin: 0 auto;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 123px;
            width: 163px;
            background-size: cover;
            right: -15%;
            background-repeat: no-repeat;
        }

        &:before {
            background-image: url(../img/svg_icons/estpage_top_arrow1.svg);
            top: -120%;
        }

        &:after {
            background-image: url(../img/svg_icons/estpage_top_arrow2.svg);
            bottom: -130%;
        }
    }
}

.estpage__top-mobile {
    display: none;
}

.estpage__top-right {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #0E1E40;
    height: calc(50% - 10px);
    padding: 26px 31px 24px 40px;

    >h3 {
        color: #FBFBFB;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 68px;
    }

    &:nth-child(odd) {
        .estpage__top-descr {
            margin: 0 20px 0 auto;

            img {
                top: -120px;
                right: -15px;
                width: 131px;
                background-size: cover;
            }

            img.like-icon {
                width: 56px;
                background-size: cover;
                position: absolute;
                right: 5%;
                top: -30%;
            }
        }
    }

    &:nth-child(even) {
        >h3 {
            text-align: right;
        }
    }
}

.estpage__top-descr {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    background: #FBFBFB;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
    width: 330px;


    h5 {
        color: #22232A;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 8px;
    }

    p {
        color: rgba(34, 35, 42, 0.60);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    img {
        position: absolute;
        top: -35px;
        right: 15px;
        width: 72px;
        background-size: cover;
    }
}


.estpage__row {
    border-radius: 8px;
    background: #FBFBFB;
    padding: 16px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
    transition: .3s;

    .col-lg-2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    &:hover {
        background: rgba(217, 217, 217, 0.50);
    }

    &+.estpage__row {
        margin-top: 16px;
    }
}


// slider -------------------- //

.estpage__slider {
    width: 100%;
    height: 337px;
    border-radius: 8px;
    overflow: hidden;

    .swiper-pagination {
        width: auto;
        border-radius: 4px;
        background: rgba(5, 10, 21, 0.50);
        padding: 8px;
        color: #fff;
        font-family: Mont;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        left: initial;
        right: 17px;
        bottom: 16px;
        text-align: left;
        z-index: 10;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        width: 15px;
        height: 24px;
        background-repeat: no-repeat;
        outline: none;

        &:after {
            display: none;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        background-image: url(../img/svg_icons/arrow_slide_next.svg);
        right: 15px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        background-image: url(../img/svg_icons/arrow_slide_prev.svg);
        left: 15px;
    }
}

.estpage__slider-widget {
    position: absolute;
    z-index: 3;
    left: 17px;
    bottom: 16px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    height: 26px;
    border-radius: 4px;
    background: rgba(5, 10, 21, 0.50);

    p {
        color: #FBFBFB;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        &+p {
            margin-left: 9px;

            &:before {
                content: '';
                width: 2px;
                height: 2px;
                display: inline-block;
                background-color: #fff;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 5px;
            }
        }

        img {
            width: 14px;
            height: 14px;
            margin-right: 3px;
        }
    }
}

.estpage__slider-item {
    width: 100%;
    height: 100%;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.estpage__slider-btns {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    padding: 16px 16px 20px;
    width: 100%;
    display: flex;
    background: linear-gradient(180deg, rgba(5, 10, 21, 0.75) 0.01%, rgba(5, 10, 21, 0.00) 100%);

    a {
        margin-right: 16px;

        img {
            width: 32px;
            height: 32px;
            background-size: cover;

            &.active {
                display: none;
            }
        }

        &.active {
            img.static {
                display: none;
            }

            img.active {
                display: block;
            }
        }
    }

}


// estpage row right -------------------- //

.gm-style .place-card .place-name {
    display: none;
}

.gm-style .place-card .address {
    display: none;
}

.estpage__row-box {
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .estpage__row-plan {
        cursor: pointer;

        a {
            display: none;
        }
    }

    .estpage__row-plan,
    .estcard__mapbox-map {
        display: block;
        max-width: 198px;
        width: 100%;
        height: 158px;
    }

    .full-view {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 11px;
        right: 9px;
    }

    .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FBFBFB;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            right: -15px;
            background-image: url(../img/svg_icons/arrow_slide_next.svg);
            width: 10px;
            height: 17px;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transition: .3s;
        }

        &:hover {
            &:after {
                opacity: 1;
                right: -20px;
            }
        }

        img {
            width: 40px;
            height: 40px;
            background-size: cover;
            margin-bottom: 8px;
        }
    }

    .estpage__mapwiew {
        width: 96px;
        position: absolute;
        z-index: 2;
        right: 10px;
        bottom: 10px;
        transition: .3s;

        &:hover {
            filter: brightness(85%);
        }

        span {
            position: absolute;
            border-radius: 8px;
            color: #fff;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            white-space: nowrap;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08), 2px 0px 3px 0px rgba(0, 0, 0, 0.08);
        }

        img {
            width: 100%;
            background-size: cover;
        }
    }

    img {
        object-fit: cover;
    }

    &+.estpage__row-box {
        margin-top: 20px;
    }
}

.estcard__row-mobile {
    display: none;
}

.estpage__row-head {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    b {
        color: #22232A;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
    }

    p {
        color: rgba(34, 35, 42, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-left: 19px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-color: #22232A;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            margin-right: 17px;
        }
    }

    span {
        margin: 0 0 0 auto;
        color: rgba(34, 35, 42, 0.50);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.15px;
    }
}

.estpage__row-title {
    margin-bottom: 24px;

    h3 {
        color: #22232A;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 10px;
    }

    p {
        color: rgba(5, 10, 21, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}


.estpage__row-info {
    border-bottom: 1px solid #D9D9D9;

    img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        background-size: cover;
    }

    p {
        color: rgba(34, 35, 42, 0.80);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &+p {
            margin-left: 16px;

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 3px;
                width: 2px;
                height: 2px;
                background-size: cover;
                border-radius: 50%;
                margin-right: 13px;
                background-color: #22232A;
            }
        }
    }

    li {
        display: flex;
        margin-bottom: 16px;
    }
}

.estpage__row-descr {
    transition: .3s;
    cursor: pointer;

}

.estpage__row-info--mobile {
    display: none;
}

.estpage__row-content {
    padding-top: 16px;
    cursor: pointer;

    p {
        overflow: hidden;
        color: rgba(34, 35, 42, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    span {
        color: rgba(34, 35, 42, 0.50);
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.15px;
        display: none;
    }
}



//  CARD -------------------------- //
.estcard.pagecard {
    width: 100%;
}

.estcard__head-back {
    position: absolute;
    top: 0;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background: #D9D9D9;
    }
}

.estcard__buttons {
    p {
        color: #5C6476;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 16px;
    }
}

.estcard__buttons-content {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: 148px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #3670F0;
        transition: .3s;
        color: #3670F0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        &+a {
            margin-left: 8px;
        }

        &:hover {
            background: rgba(59, 110, 223, 0.10);
            color: #3670F0;
        }

        img {
            margin-right: 8px;
            width: 16px;
            height: 16px;
            background-size: cover;

            &.active {
                display: none;
            }
        }

        &.active {
            img.active {
                display: block;
            }

            img.static {
                display: none;
            }
        }
    }
}





// OBJECT CARD ---------------------------------- //
.objcard {
    height: 100vh;
    width: 100%;
    transition: .5s ease-in-out;
    transform: translateX(150%);
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background: #EDF2F6;
    padding-top: 96px;
    overflow: auto;

    &.active {
        transform: translateX(0%);
    }
}

.objcard__inner {
    >h2 {
        margin-bottom: 24px;
        color: #22232A;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        span {
            display: none;
        }
    }
}

.estpage__slider-mobilepanel {
    display: none;
}



//  ADAPTIVE ------------------------- //

@media (min-width: 1440.2px) {

    .estheader .customcontainer,
    .estpage .customcontainer {
        max-width: 1300px;
        width: 100%;
        padding: 0 12px;
    }
}

@media (max-width: 1400px) {
    .estpage .estcard {
        overflow-x: initial;
    }

    .estcard__mapbox .street-view {
        width: 120px;
        height: 69px;
    }

    .estcard__buttons p {
        font-size: 18px;
    }

    .estcard__planbox .frame img {
        width: 35px;
        height: 35px;
    }

    .estcard__mapbox .full-view {
        width: 35px;
        height: 35px;
    }

    .estcard__slider .swiper-button-next,
    .estcard__slider .swiper-button-prev,
    .estcard__slider .swiper-rtl .swiper-button-next,
    .estcard__slider .swiper-rtl .swiper-button-prev {
        width: 35px;
        height: 35px;
        background-size: cover;
    }

    .full-view {
        width: 35px;
        height: 35px;
    }

    .video-view {
        height: 35px;
        font-size: 14px;
    }

    .estcard__slider .swiper-pagination:before {
        font-size: 10px;
    }

    .estcard__box-info ul li img {
        width: 16px;
    }

    .estcard__box-info ul li p {
        font-size: 14px;
    }

    .estcard__user-info h3 {
        font-size: 14px;
    }

    .estcard__box-head h2 {
        font-size: 28px;
    }

    .estcard__box-head span {
        font-size: 14px;
    }

    .estcard__box-row b {
        font-size: 28px;
    }

    .estcard__box-row p {
        font-size: 16px;
        margin-left: 16px;
        padding-left: 20px;

        &:before {
            width: 3px;
            height: 3px;
        }
    }


    .estpage {
        .estcard__slider {
            height: 450px;
        }

        .estcard__mapbox,
        .estcard__planbox {
            height: 215px;
        }


        .estcard__head {
            width: calc(100% - 60px);
            margin: 0 0 8px auto;
        }
    }
}

@media (max-width: 1200px) {
    .estcard__box-parametres ul {
        li:nth-child(odd) {
            width: 60%;
        }

        li:nth-child(even) {
            width: 40%;
        }
    }

    .estcard__box-row .whitebtn {
        padding: 10px 10px;
    }

    .estcard__box-head h2 {
        font-size: 24px;
    }

    .estcard__box-row {
        flex-wrap: wrap;
    }

    .estcard__box-row p:nth-of-type(1) {
        padding-left: 0;
        margin-left: 0;

        &:before {
            display: none;
        }
    }

    .estcard__box-row b {
        width: 100%;
    }

    .estpage {
        .estcard__slider {
            height: 400px;
        }

        .estcard__mapbox,
        .estcard__planbox {
            height: 190px;
        }
    }

    .estpage__row-descr {
        margin-top: 30px;
    }

    .estpage__slider {
        height: 380px;
    }

    .estpage__row-box .frame img {
        display: block;
        margin: 0 auto 8px;
    }

    .estpage__row-box .estcard__mapbox-map,
    .estpage__row-box .estpage__row-plan {
        display: block;
        height: 180px;
        max-width: 100%;

        >img {
            width: 100%;
        }
    }

    .estpage__top-right:nth-child(odd) .estpage__top-descr img.like-icon {
        width: 45px;
        right: 2%;
        top: -13%;
    }

    .estpage__top-left {
        height: 456px;
    }

    .estpage__top-left h2 {
        color: #22232A;
        font-size: 40px;
        max-width: 400px;
    }

    .estpage__top-left h2:after,
    .estpage__top-left h2:before {
        height: 100px;
        width: 133px;
    }

    .estpage__top-right>h3 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .estpage__top-right {
        padding: 20px 20px 20px 20px;
    }

    .estpage__top-descr img {
        top: -20px;
        width: 60px;
    }

    .estpage__top-right:nth-child(odd) .estpage__top-descr img {
        top: -65px;
        width: 90px;
    }

    .estpage__top-descr h5 {
        font-size: 18px;
    }
}

@media (max-width: 992px) {

    .estcard__box-row .whitebtn {
        width: 100%;
        margin: 10px 0;
        justify-content: center;
    }

    .estcard__box-row b {
        font-size: 22px;
    }

    .estcard__box-head h2 {
        font-size: 20px;
    }

    .estcard__box-row a {
        margin: 10px 30% 0 0;
    }

    .estpage .estcard__slider {
        height: 310px;
        margin-bottom: 10px;
    }

    .estpage .estcard__mapbox,
    .estpage .estcard__planbox {
        height: 150px;
        margin-bottom: 10px;

        .street-view {
            right: 16px;
            width: 90px;
            height: 52px;

            span {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .estpage {
        .col-md-8 {
            padding-right: 5px;
        }

        .col-md-4 {
            padding-left: 5px;
        }
    }

    .estpage__top-right:nth-child(odd) .estpage__top-descr img {
        top: -65px;
        width: 80px;
        right: 0;
    }

    .estpage__top-left {
        padding: 50px 35px;
        height: 435px;

        h2 {
            max-width: 320px;
            font-size: 32px;
        }
    }

    .estpage__top-left h2:after,
    .estpage__top-left h2:before {
        right: 0%;
        height: 90px;
        width: 120px;
    }

}





@media (max-width: 767.8px) {
    .estpage .estcard {
       padding-bottom: 70px;
    }
    .estcard__box-row .whitebtn {
        display: none;
    }

    .estcard__box-parametres ul li {
        width: 100% !important;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            margin: 0 8px 0 0;
            font-size: 14px;
        }

        p {
            font-size: 14px;
            margin: 0;
        }
    }

    .estcard__user-phone {
        max-width: 300px;
    }



    .estpage__slider-mobilepanel {
        position: absolute;
        z-index: 999;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        padding: 30px 16px;

        .mobilepanel__video {
            width: 83px;
            height: 24px;
            background-size: cover;
            margin-right: 8px;
            background-image: url(../img/svg_icons/estpage_mobilepanel_video.svg);

            iframe {
                display: none;
            }
        }

        .mobilepanel__plan {
            width: 112px;
            height: 24px;
            background-size: cover;
            background-image: url(../img/svg_icons/estpage_mobilepanel_plan.svg);

            img {
                display: none;
            }
        }

        .mobilepanel__location {
            width: 32px;
            height: 32px;
            background-size: cover;
            margin: 0 0 0 auto;
            background-image: url(../img/svg_icons/estpage_mobilepanel_location.svg);

            iframe {
                display: none;
            }
        }
    }

    .estcard__buttons {
        background: #f7f7f7;
        padding: 8px;

        p {
            display: none;
        }
    }

    .estcard .estcard__buttons {
        display: none;
    }

    .estbuttons-mobile {
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        transition: .6s;
        transform: translateX(100%);

        &.show {
            transform: translateX(0%);
        }
    }

    .estpage .col-md-4 {
        padding: 0;
    }

    .estcard__slider .swiper-button-next,
    .estcard__slider .swiper-button-prev,
    .estcard__slider .swiper-rtl .swiper-button-next,
    .estcard__slider .swiper-rtl .swiper-button-prev {
        width: 10px;
        height: 18px;
        background-size: cover;
    }

    .estcard__slider .swiper-button-next,
    .estcard__slider .swiper-rtl .swiper-button-prev {
        background-image: url(../img/svg_icons/arrow_slide_next.svg);
        right: 5%;
    }

    .estcard__slider .swiper-button-prev,
    .estcard__slider .swiper-rtl .swiper-button-next {
        background-image: url(../img/svg_icons/arrow_slide_prev.svg);
        left: 5%;
    }

    .estcard__back {
        display: block;
        position: absolute;
        left: 16px;
        top: 107px;
        width: 32px;
        height: 32px;
        background-size: cover;
        z-index: 10;
    }

    .estcard__user-info h3 {
        font-size: 16px;
    }

    .estcard__box-parametres ul li {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 8px;
        padding-left: 20px;
        font-size: 14px;

        &:before {
            width: 12px;
            height: 12px;
        }
    }

    .estcard__box .more-btn {
        margin-top: 10px;
        margin-bottom: 10px;

        span {
            font-weight: 600;
        }
    }

    .estcard__box-info--mobile {
        display: block;

        ul {
            margin-bottom: 24px;
        }

        li {
            display: flex;
            align-items: center;
            margin-top: 8px;
        }

        img {
            margin-right: 8px;
            width: 12px;
            background-size: cover;
        }

        p {
            color: #22232A;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0;
        }

        a {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border-radius: 8px;
            border: 1px solid #3670F0;
            color: #3670F0;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;

            svg {
                margin-right: 8px;
            }
        }

        .info {
            margin-top: 24px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            background: rgba(217, 217, 217, 0.20);
            padding: 6px 16px;
            height: 32px;
            width: 100%;

            p {
                color: rgba(34, 35, 42, 0.50);
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;

                &+p {
                    margin-left: 10px;

                    &:before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 2px;
                        height: 2px;
                        background: rgba(34, 35, 42, 0.50);
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .estcard__box>h3 {
        font-size: 18px;
        padding-top: 16px;
        margin-bottom: 16px;
        padding-top: 0;
    }

    .estcard__box-info {
        display: none;
    }

    .estcard__box-row p {
        color: rgba(34, 35, 42, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 8px;

        &:before {
            width: 2px;
            height: 2px;
            background-color: rgba(5, 10, 21, 0.50);
        }
    }

    .estcard__box p {
        font-size: 14px;
    }


    .estcard__box-head {
        display: flex;
        flex-wrap: wrap;

        span {
            order: 4;
            color: rgba(5, 10, 21, 0.50);
            font-family: Mont;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        h2 {
            order: 2;
            font-weight: 700;
        }
    }

    .estcard__box-row {
        a {
            display: none;
        }

        b {
            font-size: 20px;
            order: -1;
        }
    }

    .estcard__head {
        display: none;
    }

    .estpage .estcard__slider {
        margin-bottom: 0px;
        height: 60vw;
    }

    .estcard__slider {

        .video-view,
        .full-view {
            display: none;
        }
    }

    .estcard__row-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px 16px 0px 0px;
        background: #f4f4f4;
        display: flex;
        align-items: center;
        padding: 8px;
        margin-top: -16px;
        position: relative;
        z-index: 5;

        .estate__card-headcheck {
            font-size: 12px;
        }

        p {
            color: #22232A;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            position: relative;
            margin-right: 21px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 45%;
                right: -13px;
                width: 2px;
                height: 2px;
                background-color: #22232A;
            }
        }
    }

    .estcard__slider-item {
        border-radius: 0;
    }

    .estpage__row {
        padding: 0 12px;
    }

    .estcard__mapbox,
    .estcard__planbox {
        display: none;
    }

    .estpage .col-md-8 {
        padding: 0;
    }

    .estcard__box {
        margin-bottom: 0;
        padding: 10px 24px;
    }

    .estcard__slider .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
        bottom: initial;
        top: 15px;
        color: #FBFBFB;
        background: transparent;

        &:before {
            display: none;
        }
    }

    .objcard__inner>h2 {
        font-size: 26px;

        span {
            display: inline-block;
            font-size: 26px;
            color: #22232A;
            font-weight: 700;
        }
    }
    .estpage .estcard {
            height: 100vh;
            top: 0px;
            padding-top: 70px;
        }

    .estpage {

        .estcard__slider-item {
            width: 100%;
        }

        .estcard__slider-item img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .estcard__slider-item a {
            width: 100%;
        }
    }

    .estpage__slider {
        height: 60vw;
        border-radius: 8px 8px 0 0;
    }

    .estpage__row-descr {
        margin-top: 16px;
    }

    .estpage__row-title {
        margin-bottom: 16px;
    }

    .estpage__row-title p {
        font-size: 12px;
        font-weight: 500;
    }

    .estpage__row-content span {
        display: block;
        margin-top: 8px;
    }

    .estpage__row-content p {
        font-size: 12px;
        font-weight: 500;
    }

    .estpage__row-head span {
        display: none;
    }

    .estpage__top {
        margin-bottom: 10px;
    }

    .estpage__row-content {
        display: block;
    }

    .estpage__row-info {
        display: none;
    }

    .estpage__row-info--mobile {
        display: block;
        padding-bottom: 8px;
        border-bottom: 1px solid #D9D9D9;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            img {
                width: 12px;
                height: 12px;
                background-size: cover;
                margin-right: 6px;
            }

            p {
                color: #22232A;
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .estpage__row-head {
        margin-bottom: 13px;
    }

    .estpage__row-title h3 {
        font-size: 22px;
        font-weight: 600;
    }

    .fancybox-thumbs__list {
        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }

    .fancybox-thumbs {
        width: 100%;
        padding: 0;
    }

    .fancybox-thumbs__list a {
        max-width: 100%;
        height: inherit;
        border-radius: 0;
        margin-bottom: 0;
        border-bottom: 5px solid #050A15;
        opacity: 1;
        margin: 0;
    }

    .fancybox-thumbs__list a:before {
        border: none;
        border-radius: 0;
    }

    .fancybox-button.fancybox-button--close:before {
        display: none;
    }

    .fancybox-toolbar {
        width: 100%;
    }

    .fancybox-button.fancybox-button--close {
        right: 90%;
        background-image: url(../img/svg_icons/close_gallery_mobile.svg);
        background-size: cover;
    }

    .fancybox-navigation {
        display: none;
    }

    .estpage__slider-btns {
        left: initial;
        right: 0px;
        flex-direction: row-reverse;
    }

    .estpage__row-col {
        display: none;
    }

    .estpage__slider .swiper-pagination {
        background: transparent;
        transform: translateX(50%);
        font-size: 16px;
        color: #FBFBFB;
        right: 50%;
        bottom: initial;
        top: 15px;
    }


    .estheader__logo a {
        width: 100px;
    }

    .estheader__info-btn {
        width: 30px;
        height: 30px;
        margin-left: 30px;

        &:hover {
            background-color: transparent;
        }
    }

    .estheader__info-btn span {
        width: 18px;
        height: 18px;
        right: -7px;
        border: none;
        font-size: 10px;
    }

    .estpage__top-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .estpage__top-right {
        width: 49%;
        background-color: #fff;
        padding: 20px;

        >h3 {
            display: none;
        }

        .estpage__top-descr {
            display: none;
        }

        .estpage__top-mobile {
            display: block;

            img {
                width: 100%;
                background-size: cover;
                display: block;
            }

            span {
                color: rgba(34, 35, 42, 0.70);
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                display: block;
                margin-bottom: 4px;
            }

            p {
                color: #22232A;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
            }
        }
    }

    .estheader__info-btn {
        background: transparent;
        box-shadow: none;
    }

    .estpage__top-left h2:after,
    .estpage__top-left h2:before {
        display: none;
    }

    .estpage__top-left {
        height: auto;
        padding: 26px 30px;
        margin-bottom: 10px;
        justify-content: flex-start;

        &:after {
            content: '';
            background-image: url(../img/svg_icons/est_card_arrow_down.svg);
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
        }

        h2 {
            font-size: 20px;
            font-variant: 700px;
            white-space: nowrap;
            margin: 0 auto 0 0;
            width: 100%;
        }
    }
}

@media (max-width: 575.8px) {

    .estpage .estcard {
        top: 0px;
        padding-top: 50px;
    }

    .estcard__user-phone {
        max-width: 100%;
    }

    .estcard__slider .swiper-pagination {
        top: 15px;
    }

    .estpage__slider .swiper-pagination {
        top: 8px;
    }

    .estcard__box .map .street-view {
        width: 120px;
        height: 66px;
    }

    .estcard__box .map {
        margin-bottom: 10px;
    }

    .estcard__box .map .street-view span {
        font-size: 14px;
    }

    .estcard__back {
        top: 66px;
    }

    .estcard {
        padding-top: 0;
    }

    .estcard__box>h3 {
        font-size: 16px;
    }

    .estcard__box {
        padding: 10px 16px;
    }

    .objcard {
        padding-top: 70px;
    }

    .objcard__inner>h2 {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 600;

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .estheader {
        height: 50px;
    }

    .estpage {
        padding: 60px 0 24px;
        width: 100%;
    }

    .estpage__top-right {
        padding: 10px;
    }

    .fancybox-button.fancybox-button--close {
        top: 15px;
        right: initial;
        left: 5%;
    }

    .estpage__slider .swiper-button-next,
    .estpage__slider .swiper-button-prev,
    .estpage__slider .swiper-rtl .swiper-button-next,
    .estpage__slider .swiper-rtl .swiper-button-prev {
        width: 8px;
        height: 14px;
        top: 55%;
        background-size: cover;
    }



    .estpage__slider-btns {
        padding: 10px 10px 10px;
    }


    .estpage__row-head p {
        font-size: 12px;
        font-weight: 500;
        margin-left: 15px;

        &:before {
            margin-right: 12px;
        }
    }

    .estpage__row-head b {
        font-size: 16px;
        font-weight: 700;
    }

    .estpage__top {
        margin-bottom: 8px;
    }


    .estpage__row-title h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .estpage__slider .swiper-pagination {
        font-size: 12px;
    }

    .estpage__top-right .estpage__top-mobile {
        span {
            font-size: 11px;
            white-space: nowrap;
        }

        p {
            font-size: 14px;
            max-width: 100px;
        }
    }

    .estheader__info-btn {
        width: 16px;
        height: 26px;
    }

    .estheader__info-btn span {
        width: 16px;
        height: 16px;
        right: -11px;
        border: none;
        font-size: 10px;
    }

    .estheader__logo a {
        width: 81px;
    }

    .estpage__top-left {
        padding: 25px 16px;
        margin-bottom: 8px;

        &:after {
            right: 16px;
        }

        h2 {
            font-size: 16px;
        }
    }
}

@media (max-width: 374px) {
    .estpage__slider-btns a {
        margin-right: 5px;
    }

    .estpage__slider-widget {
        white-space: nowrap;
        left: 12px;
        bottom: 12px;

        p {
            font-size: 9px;
        }
    }

    .estpage__top-left h2 {
        font-size: 14px;
        max-width: 80%;
        white-space: wrap;
    }

    .estpage__top-right .estpage__top-mobile span {
        font-size: 10px;
    }

    .estpage__top-left:after {
        width: 35px;
        height: 35px;
        background-size: cover;
    }
}